<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jimbo: Sell and discover items near you...</title>
        <meta name="description" content="Jimbo helps you sell &amp; discover items near you...">
        <meta name="author" content="Jimbo">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet" />
        <!-- Override Stylesheet -->
        <link href="css/slick.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <!--[if IE 9]>
            <link href="css/ie9.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <!-- HTML5 Shiv -->
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="javascripts/libs/html5.js"><\/script>')</script>
        <![endif]-->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="header">
           	<div class="navbar navbar-default">
           		<div class="container">
	           		<a href="http://jimbo.co" class="navbar-brand"></a>
	           		<div class="navbar-right">
	           			Jimbo is currently on android only! <a href="https://play.google.com/store/apps/details?id=com.vp.jimbo&hl=en" class="google-btn"><img src="images/google-play-btn.png" alt="Download"></a>
	           		</div>
	           	</div>
           	</div>
           	<div class="container">
           		<div class="content">
           			<div class="intro">
		           		<h1>Jimbo helps you sell and discover items near you</h1>
		           		<br>
		           		<div class="download-btn">
		           			<a href="https://play.google.com/store/apps/details?id=com.vp.jimbo&hl=en" class="btn btn-lg btn-default">Download Jimbo Beta</a> <span>It’s free :)</span>
		           		</div>
		           	</div>
           		</div>
           		<div class="iphone">
           			<div class="slideshow">
	            		<div class="slider">
	            			<div class="slide" style="background-image: url(images/slideshow/image1.jpg);"></div>
	            			<div class="slide" style="background-image: url(images/slideshow/image2.jpg);"></div>
	            			<div class="slide" style="background-image: url(images/slideshow/image3.jpg);"></div>
	            		</div>
	            	</div>
           		</div>
           	</div>
        </div>
        <div class="main">
            <div class="container">
            	<div class="content">
	            	<div class="main-content">
	            		<h2>About Us</h2>
		            	<p>Life is complicated. It shouldn't be. We want to simplify it.<br><br>
                       Jimbo is a cross-platform social marketplace that allows you to buy, sell, and discover items based on your interests and location.<br><br>
                       Our vision is to become the world’s most customer-focused marketplace; a marketplace that people use because it saves them time and money.
                        </p>
		            	<br>
		            	<div class="social">
		            		<a href="https://www.facebook.com/jimboappofficial" target="_blank"><img src="images/facebook.png" alt=""></a>
		            		<a href="https://instagram.com/jimboapp/" target="_blank"><img src="images/instagram.png" alt=""></a>
		            		<!--<a href="#"><img src="images/pinterest.png" alt=""></a>-->
		            	</div>
	            	</div>
	            	<p class="copyright">&copy; 2015 Jimbo.co | <a href="mailto:info@jimbo.co" class="email">info@jimbo.co</a></p>
	            </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/libs/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/script.js"></script>

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51493243-1', 'jimbo.co');
  ga('send', 'pageview');

</script>
    </body>
</html>
